{% extends "base_auth.html" %} {% block content %}

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card mt-5">
      <div class="card-body">
        <div class="card-title text-center">
        <h4>Register for a free account</h4>
      </div>
        <form action="" method="POST" class="mt-4">
          <div class="form-group mt-3">
            <input
              type="text"
              class="form-control form-control-sm"
              placeholder="Username"
              id="usernameField"
              name="username"
            />
          </div>
          <div class="form-group mt-3">
            <input
              type="email"
              class="form-control form-control-sm"
              placeholder="Email"
              id="emailField"
              name="email"
            />
          </div>
          <div class="form-group mt-4 position-relative">
            <input
              type="password"
              class="form-control form-control-sm mb-2"
              id="passwordField"
              name="password"
            />
            <small class="" style="right: 0; position: absolute;">SHOW</small>
          </div>
          <div class="d-flex justify-content-center mt-4 pt-2">
            <input type="submit" value="Register" class="btn btn-primary w-100" />
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>

{% endblock content %}
