{% extends "base_auth.html" %} {% block content %}
{% load static %}

<div class="row mt-5">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card mt-5">
      <div class="card-body">
        <div class="card-title text-center">
        <h4>Please enter your email to get rest link</h4>
      </div>
      {% include 'partials/_messages.html' %}
        <form action="{% url 'reset-password' %}" method="POST" class="mt-4">
          {% csrf_token %}
          <div class="form-group mt-3">
            <input
              type="email"
              class="form-control form-control-sm"
              placeholder="Email"
              id="emailField"
              value="{{values.email}}"
              name="email"
            />
          </div>
          <div class="d-flex justify-content-center mt-4 pt-2">
            <input type="submit" value="Submit" class="btn btn-primary w-100 submit-btn" />
          </div>
        </form>
        {% comment %} <div class="d-flex justify-content-between "> {% endcomment %}
          <span>Don't have an account? <a href="{% url 'register' %}" style="text-decoration: none;">Register</a></span><br>
          <span>Already have an account? <a href="{% url 'login' %}" style="text-decoration: none;">Login </a></span>
        {% comment %} </div> {% endcomment %}
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>
<script src="{% static 'js/register.js' %}"></script>
{% endblock content %}
